{% extends 'base.html' %} {% block content %}

<h1>📄 Checklist Detail</h1>

<div class="card">
  <p><strong>Checklist:</strong> {{ txn.checklist.name }}</p>
  <p><strong>User:</strong> {{ txn.user.username }}</p>
  <p><strong>Status:</strong> {{ txn.status }}</p>
  <p><strong>Date:</strong> {{ txn.submitted_date }}</p>

  <hr />

  <h3>📝 Answers</h3>

  <table>
    <tr>
      <th>Question</th>
      <th>Answer</th>
    </tr>

    {% for ans in answers %}
    <tr>
      <td>{{ ans.question.question_text }}</td>
      <td>{{ ans.answer }}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="2">No answers found</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
